dist: xenial
language: python
python:
  - "2.7"
  - "3.5"
  - "3.6"
  - "3.7"
# command to install dependencies
install: "pip install --upgrade numpy lazperf"
# command to run tests
script: "python setup.py test"
