name: Build

on:
  push:
    branches:
    - 'main'
  pull_request:
    branches:
    - '*'
jobs:
  build:
    name: Python ${{ matrix.python-version }} - ${{ matrix.os }} - ${{ matrix.env }}

    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: ['ubuntu-latest', 'macos-latest', 'windows-latest']
        python-version: [ "3.10", "3.11", "3.12", "3.13" ]
        env: [ dev, dev-laszip, dev-lazrs, dev-all ]

    steps:
    - uses: actions/checkout@v5

    - uses: actions/setup-python@v6
      with:
        python-version: ${{ matrix.python-version }}

    - name: Display Python version
      run: python -c "import sys; print(sys.version)"

    - name: Install hatch
      run: pip install hatch

    - name: Run Tests
      run: |
        hatch run ${{matrix.env}}:python --version
        hatch run ${{matrix.env}}:test


  # Check that we can import laspy in an environment that does
  # not have dev deps installed to make sure there are no wrong imports
  import:
    name: Python ${{ matrix.python-version }} - ${{ matrix.os }} - laz=${{ matrix.laz-backend }}

    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ 'ubuntu-latest', 'macos-latest', 'windows-latest' ]
        python-version: [ "3.13" ]
        laz-backend: [ None, lazrs, laszip ]

    steps:
      - uses: actions/checkout@v5

      - uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}

      - name: Display Python version
        run: |
          python -c "import sys; print(sys.version)"

      - name: Install With LAZ backend
        if: matrix.laz-backend != 'None'
        run: pip install .[${{ matrix.laz-backend }},pyproj,cli]

      - name: Install Without LAZ backend
        if: matrix.laz-backend == 'None'
        run: pip install .[pyproj,cli]

      - name: Import laspy
        run: |
          python -c "import laspy"

  linting:
    runs-on: ubuntu-latest

    steps:
      - name: Clone
        uses: actions/checkout@v5

      - uses: actions/setup-python@v6
        with:
          python-version: 3.13

      - name: Install hatch
        run: pip install hatch

      - name: Run lints
        run: hatch fmt --check

  coverage:
    runs-on: ubuntu-latest

    steps:
      - name: Clone
        uses: actions/checkout@v5

      - name: Install
        run: |
          python3 -m pip install .[dev]

      - name: Run coverage
        run: |
          nox -s coverage
          coverage combine
          coverage report
